[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rechonest"]
	path = rechonest
	url = https://github.com/mukul13/rechonest
	shallow = true
	registered = true
[submodule "ROpenWeatherMap"]
	path = ROpenWeatherMap
	url = https://github.com/mukul13/ropenweathermap
	shallow = true
	registered = true
[submodule "RYandexTranslate"]
	path = RYandexTranslate
	url = https://github.com/mukul13/ryandextranslate
	shallow = true
	registered = true
